In [1]:
import os
import pandas as pd
import sys
import warnings

In [8]:
warnings.filterwarnings("ignore")

sys.path.append(os.pardir)
sys.path.append('../..')

from src.dataloader import DataLoader
from src.utils import load_yaml

config = load_yaml("../config.yml")
for k, v in config["path"].items():
    config["path"][k] = "." + v
config["path"]

{'aisles': '../input/instacart-market-basket-analysis/aisles.csv',
 'departments': '../input/instacart-market-basket-analysis/departments.csv',
 'order_products__prior': '../input/instacart-market-basket-analysis/order_products__prior.csv',
 'order_products__train': '../input/instacart-market-basket-analysis/order_products__train.csv',
 'orders': '../input/instacart-market-basket-analysis/orders.csv',
 'products': '../input/instacart-market-basket-analysis/products.csv',
 'sample_submission': '../input/instacart-market-basket-analysis/sample_submission.csv',
 'column_series': '../input/column_series',
 'feature': '../feature',
 'importance': '../importance',
 'logs': '../logs',
 'model': '../model',
 'preprocess': '../input/preprocess',
 'submit': '../submit'}

In [9]:
def load(config):
    dataloader = DataLoader(config)
    aisles = dataloader.load_csv(config["path"]["aisles"])
    departments = dataloader.load_csv(config["path"]["departments"])
    order_products_prior = dataloader.load_csv(config["path"]["order_products__prior"])
    order_products_train = dataloader.load_csv(config["path"]["order_products__train"])
    orders = dataloader.load_csv(config["path"]["orders"])
    products = dataloader.load_csv(config["path"]["products"])
    sample_submission = dataloader.load_csv(config["path"]["sample_submission"])
    return aisles, departments, order_products_prior, order_products_train, orders, products, sample_submission

aisles, departments, order_products_prior, order_products_train, orders, products, sample_submission = load(config)

In [10]:
for df in [aisles, departments, order_products_prior, order_products_train, orders, products, sample_submission]:
    print("\n", df.shape)
    display(df.head(3))

 (134, 2)

   aisle_id                  aisle
0         1  prepared soups salads
1         2      specialty cheeses
2         3    energy granola bars

 (21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery

 (32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

 (1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0

 (3421083, 7)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0

 (49688, 4)

   product_id                          product_name  aisle_id  department_id
0           1            Chocolate Sandwich Cookies        61             19
1           2                      All-Seasons Salt       104             13
2           3  Robust Golden Unsweetened Oolong Tea        94              7

 (75000, 2)

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259

In [23]:
sample_submission["products"] = None
sample_submission.to_csv(f'{config["path"]["submit"]}/all_none.csv', index=False)